@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #d87d4a;
  --primary-light: #fbaf85;
  --dark: #101010;
  --light: #f1f1f1;
  --lighter: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-lighter: var(--lighter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility text-h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;

  letter-spacing: 2px;
}

@utility text-h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
}

@utility text-h3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14286px;
}

@utility text-h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}

@utility text-h5 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.71429px;
}

@utility text-h6 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
}

@utility text-overline {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
}

@utility text-subtitle {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.928571px;
}

@utility text-body {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

body {
  font-family: manrope, Helvetica, sans-serif;
  @apply text-body;
}
