@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --primary: #D87D4A;
  --primary-light: #fbaf85;
  --dark: #101010;
  --light: #F1F1F1;
  --lighter: #FAFAFA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-lighter: var(--lighter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: manrope, Helvetica, sans-serif;
}
